.div {
    display: flex;
    justify-content: center;
    text-align: center;
    
    
    
}
.name {
    text-decoration-line: underline;
    background-color: rgba(153, 147, 147, 0.507);
    color: rgba(8, 0, 0, 0.971);
}
.info {
    text-decoration-line: underline ;
    background-color: rgba(153, 147, 147, 0.507);
    color: rgb(2, 0, 5);
}