.SearchBar {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}
.input {
    display: flex;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 10;
    width: 15rem;
    background-color: rgb(181, 179, 179);

}


.button {
    border: solid 2px rgba(0, 0, 0, 0.89);
    border-radius: 15px;
    width: 7rem;
    height: 3rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 179, 179);
    transform: background-color 0.25s;
    cursor: pointer;
    color: black;
}
.button:hover {
    background-color: rgba(14, 13, 13, 0.49);
}